.welcome-message {
  h1, p {
    font-family: "Georgia";
  }

  h1 {
    font-size: 60px;
    text-align: center;
    color: #778c9f;
  }

  p {
    text-indent: 2em;
  }

  p.special {
    text-indent: 0;
    font-size: 35px;
  }
}